* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
}

.layout {
  max-width: 1440px;
  min-height: 100vh;
  /* border: 2px solid red; */
  margin: 0px auto;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.page-width {
  max-width: 1280px;
  margin: 0px auto;
}

.nav {
  /* border: 2px solid white; */
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  background-color: #0a0a0a;
  /* padding: 16px 0px; */

  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-title {
  display: flex;
  align-items: center;
}

.cursor-img {
  height: 32px;
}

.cursor-title {
  color: #f5f5f5;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 400;
  margin-left: 72px;
}

.nav-list a {
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn {
  all: unset;
  color: #f5f5f5;
  padding: 5px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}

.signIn-btn {
  border: 0.5px solid #9ca3af;
  border-radius: 16px;
  padding: 5px 8px;
}

.download-btn {
  background-color: #f5f5f5;
  color: #18181b;
  border-radius: 16px;
  padding: 6px 8px;
}

.hero-section {
  margin-top: 124px;
}

.hero-headline {
  color: #f5f5f5;
  width: 40%;
  letter-spacing: -0.03em;
  font-weight: 500;
  line-height: 1.1;
}

.hero-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin: 32px 0px;
  height: 24px;
}

.hero-cta-button {
  background-color: #f5f5f5;
  color: #1d1d1d;
  padding: 12px 22px;
  border-radius: 24px;
  text-decoration: none;
  font-weight: 400;
}

.arrow-cta {
  all: unset;
  height: 6px;
}

.hero-img {
  border-radius: 8px;
  margin-top: 38px;
  margin-bottom: 32px;
}

.logo-heading {
  color: #f5f5f5;
  text-align: center;
  font-size: 16px;
}

.logos {
  display: flex;
  margin-top: 32px;
  gap: 9px;
}

.logo-card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 96px;

  border-radius: 5px;
  background-color: #171717;

  /* border: 0.3px solid #404040; */
}

.logo-card img {
  max-width: 70%;
  max-height: 40px;
}

.feature-container {
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  /* border: 2px solid red; */
  margin-top: 88px;
  padding: 16px;
  background-color: #171717;
  border-radius: 10px;
}

.feature-split {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  /* border: 2px solid red; */
  margin-top: 88px;
  padding: 16px;
  background-color: #171717;
  border-radius: 10px;
}

.feature-content {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  padding: 24px;
}

.feature-header {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

.feature-main {
  font-size: 20px;
  color: #737373;
  font-weight: 500;
  padding-bottom: 16px;
  line-height: 1.3;
}

.feature-cta a {
  text-decoration: none;
  color: #ef4444;
  font-size: 17px;
}

.feature-img-container img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.test-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 8px;
}

.testimonial-section {
  margin-top: 72px;
}

.testimonial-section h1 {
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 68px;
  margin-top: 160px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 24px 16px;
  background-color: #171717;
  /* margin-right: 4px; */
  /* border: 0.25px solid #404040; */
  border-radius: 4px;
}

.card p {
  margin-bottom: 96px;
  line-height: 1.5;
  color: #f5f5f5;
}

.creator-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.creator-container img {
  width: 34px;
  border-radius: 8px;
}

.creator-about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 1.5;
}

.creator-about-container div {
  color: #f5f5f5;
  font-size: 14px;
}

.creator-about {
  color: #d1d5db;
}

.stories-section {
  margin-top: 200px;
}

.stories-section span {
  color: #f5f5f5;
  font-weight: 500;
  font-size: 24px;
}

.story-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 20px;
}

.story {
  padding: 16px 16px;
  border-radius: 4px;
  /* border: 0.3px solid #404040; */
  background-color: #171717;
}

.story span,
a {
  color: #f5f5f5;
}

.story-heading {
  margin-bottom: 8px;
  font-weight: 500;
  color: #f5f5f5;
}

.story-feature {
  color: #d1d5db;
  word-spacing: 2px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
  line-height: 1.4;
}

.story-cta a {
  text-decoration: none;
  color: #dc2626;
}

.story-cta {
  margin-bottom: 20px;
}

.story-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.updates {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: #d1d5db;
  gap: 8px;
  margin-bottom: 20px;
}

.update-container {
  /* border: 0.25px solid #404040; */
  border-radius: 4px;
  padding: 16px 12px;
  background-color: #171717;
}

.update-heading-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 20px;
}

.update-heading-container a {
  all: unset;
  border: 1px solid #6b7280;
  padding: 2px 8px;
  color: #d1d5db;
  border-radius: 16px;
}

.update-heading-container div {
  color: #9ca3af;
  font-weight: 500;
}

.updates-section {
  margin-top: 180px;
}

.update-section-heading {
  font-size: 24px;
  font-weight: 500;
  color: #d1d5db;
  margin-bottom: 24px;
}

.updates-cta {
  text-decoration: none;
  color: #ef4444;
}

.teams-section {
  margin-top: 120px;
}

.teams h1 {
  color: #f5f5f5;
  width: 40%;
  font-weight: 650;
  line-height: 1.4;
  word-spacing: 1px;
  font-size: 28px;
  margin-bottom: 32px;
}

.teams-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.teams-cta {
  margin-bottom: 64px;
}

.team-cta-0 {
  all: unset;
}

.teams-cta a {
  all: unset;
  /* border: 2px solid red; */
  padding: 12px 20px;
  background-color: #f5f5f5;
  color: #1d1d1d;
  border-radius: 24px;
}

.final-cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  /* border: 2px solid red; */
  height: 50vh;
}

.final-cta-header {
  font-size: 68px;
  margin-bottom: 28px;
  font-weight: 500;
}

.final-cta-icon {
  all: unset;
}

.final-cta-btn a {
  all: unset;
  border: 0.5px solid #6b7280;
  padding: 12px 20px;
  background-color: #f5f5f5;
  color: #1d1d1d;
  font-weight: 400;
  border-radius: 24px;
}

.footer-section {
  background-color: #171717;
  color: #d1d5db;
  margin-top: 72px;
  width: 100%;
}

.footer {
  max-width: 93%;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* border: 2px solid; */
  padding: 56px;
  padding-bottom: 80px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  /* border: 2px solid red; */
}

.first-element {
  color: #9ca3af;
}

.footer-end {
  margin-left: 96px;
  display: flex;
  gap: 20px;
  font-size: 14px;
  padding-bottom: 32px;
}
